.modalWindow{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
}

.modalWindowContent {
    padding: 25px;
    background: white;
    border-radius: 8px;
    width: 70%;
    min-height: 25%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: auto;


}

.modalWindow.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.load{
    display: flex;
    justify-content: center;
}